# Generated manually for package skeleton
export("%!in%")
export(null_estimation)
export(qqunif.plot)
export(Sobel)
export(CompTestER)
export(CDF_p2)
export(safe_z)
export(poly_space)
export(JCCorrect)
export(EfronCorrect)
export(nonnullPropEst)
export(nullParaEst)
export(DACT_liu)
export(p_value_underH1)
export(HDMT_emp)
export(TLR_pvalues_trimmed)
export(HDMT_asy)
export(HDMT_control)
export(search_sorted_index)
export(alphas_estimate_tail)
importFrom(stats, ks.test, lm, pchisq, pnorm, qbeta, qnorm, punif, p.adjust)
importFrom("stats", "approx", "complete.cases", "integrate", "rnorm","uniroot", "var")
importFrom(lattice, xyplot, panel.xyplot, panel.abline)
importFrom(grid, grid.polygon, gpar)
importFrom(locfdr, locfdr)
importFrom(fdrtool, gcmlcm)
importFrom(pracma, linspace)
